<main>
  <header class="position-fixed w-100 z-3 top-0">
    <div class="bg-primary-subtle w-100 py-3">
      <div class="container d-flex justify-content-between align-items-center">
        <a
          class="navbar-brand d-flex align-items-center"
          href="#"
        >
          <img
            src="<%= require('../assets/logo only.svg') %>"
            width="30"
            height="30"
            alt=""
          />
          <span class="fw-bold fs-4 ms-2 d-flex"
            ><span class="text-primary">Vendo</span>
            <span class="text-primary-emphasis">sync</span>
          </span>
        </a>
        <button
          id="logout"
          type="button"
          class="btn btn-primary rounded-circle p-2 d-flex justify-content-center align-items-center"
          style="width: 36px; height: 36px"
        >
          <i class="bi bi-arrow-bar-right text-light"></i>
        </button>
      </div>
    </div>
    <nav class="navbar navbar-expand-sm bg-white shadow-sm py-0">
      <div class="container">
        <button
          class="navbar-toggler ms-auto my-2"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse"
          id="navbarNav"
        >
          <div
            class="nav navbar-nav nav-tabs"
            role="tablist"
          >
            <button
              type="button"
              class="nav-link active active-underline py-3 d-flex justify-content-center align-items-end"
              data-bs-toggle="tab"
              data-bs-target="#nav-company"
              role="tab"
            >
              <i class="bi bi-building-fill-gear me-2"></i>
              <span>Company</span>
            </button>
            <button
              type="button"
              class="nav-link active-underline py-3 d-flex justify-content-center align-items-end"
              data-bs-toggle="tab"
              data-bs-target="#nav-token"
              role="tab"
            >
              <i
                class="bi bi-key-fill fs-5 me-2"
                style="rotate: 45deg; translate: 0 5px"
              ></i>
              <span>Token</span>
            </button>
            <button
              type="button"
              class="nav-link active-underline py-3 d-flex justify-content-center align-items-end"
              data-bs-toggle="tab"
              data-bs-target="#nav-user"
              role="tab"
            >
              <i
                class="bi bi-person-fill fs-5 me-2"
                style="translate: 0 5px"
              ></i>
              <span>User</span>
            </button>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <div
    class="tab-content container py-4"
    id="content"
  >
    <div
      class="tab-pane fade"
      id="nav-token"
      role="tabpanel"
    >
      <div class="row gy-4">
        <div class="col-md-7 d-flex">
          <div class="card shadow-sm d-flex flex-grow-1">
            <div
              class="card-header fw-bold d-flex align-items-center justify-content-between"
            >
              Token List
              <button
                id="refreshTokenList"
                type="button"
                class="btn btn-primary d-flex align-items-center justify-content-center"
              >
                <i class="bi bi-arrow-clockwise me-2"></i>
                Refresh
              </button>
            </div>
            <div class="card-body">
              <table
                id="token-table"
                class="table table-hover nowrap w-100"
              >
                <thead>
                  <tr>
                    <th class="all"></th>
                    <th>ID</th>
                    <th>Company ID</th>
                    <th>User ID</th>
                    <th>Position</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-5 d-flex">
          <div class="card flex-grow-1">
            <div class="card-header border-0 bg-transparent fw-bold">
              Token Usage
            </div>
            <div class="card-body d-flex">
              <div
                id="token-chart"
                class="flex-grow-1"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="tab-pane fade show active"
      id="nav-company"
      role="tabpanel"
    >
      <div class="row gy-4">
        <div class="col-md-6 col-sm-12">
          <div class="row gy-3">
            <div class="col-md-6 col-sm-12">
              <div class="card card-body shadow-sm">
                <div class="small mb-4">Total Company</div>
                <div class="text-center">
                  <div
                    class="fs-1 mt-2 fw-bold info-number"
                    data-category="Total"
                  >
                    N/A
                  </div>
                  <div class="small info-delta">0%</div>
                  <div class="extra-small text-muted mt-4">
                    vs previous 7 days ago
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="card card-body shadow-sm">
                <div class="small mb-4">Basic Package</div>
                <div class="text-center">
                  <div
                    class="fs-1 mt-2 fw-bold info-number"
                    data-category="Basic"
                  >
                    N/A
                  </div>
                  <div
                    class="small info-delta"
                    data-category="Basic"
                  >
                    0%
                  </div>
                  <div class="extra-small text-muted mt-4">
                    vs previous 7 days ago
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="card card-body shadow-sm">
                <div class="small mb-4">Premium Package</div>
                <div class="text-center">
                  <div
                    class="fs-1 mt-2 fw-bold info-number"
                    data-category="Premium"
                  >
                    N/A
                  </div>
                  <div
                    class="small info-delta"
                    data-category="Premium"
                  >
                    0%
                  </div>
                  <div class="extra-small text-muted mt-4">
                    vs previous 7 days ago
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="card card-body shadow-sm">
                <div class="small mb-4">Deluxe Package</div>
                <div class="text-center">
                  <div
                    class="fs-1 mt-2 fw-bold info-number"
                    data-category="Deluxe"
                  >
                    N/A
                  </div>
                  <div
                    class="small info-delta"
                    data-category="Deluxe"
                  >
                    0%
                  </div>
                  <div class="extra-small text-muted mt-4">
                    vs previous 7 days ago
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 d-flex">
          <div class="card flex-grow-1">
            <div class="card-header border-0 bg-transparent fw-bold">
              Package Distribution by
            </div>
            <div class="card-body d-flex">
              <div
                id="company-chart"
                class="flex-grow-1"
              ></div>
            </div>
          </div>
        </div>
        <div class="col-12 d-flex">
          <div class="card shadow-sm flex-grow-1">
            <div
              class="card-header fw-bold d-flex justify-content-between align-items-center"
            >
              <span>Company List</span>
              <div class="d-flex">
                <button
                  type="button"
                  data-bs-toggle="modal"
                  data-bs-target="#company-modal"
                  class="btn btn-outline-primary d-flex align-items-center justify-content-center me-2"
                >
                  <i class="bi bi-plus-lg me-2"></i>
                  Add
                </button>
                <button
                  id="refreshCompanyList"
                  type="button"
                  class="btn btn-primary d-flex align-items-center justify-content-center"
                >
                  <i class="bi bi-arrow-clockwise me-2"></i>
                  Refresh
                </button>
              </div>
            </div>
            <div class="card-body">
              <table
                id="company-table"
                class="table table-hover nowrap w-100"
              >
                <thead>
                  <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">Company Name</th>
                    <th class="text-center">PIC Email</th>
                    <th class="text-center">Address</th>
                    <th class="text-center">Package</th>
                    <th class="text-center">Start date</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="nav-user"
      role="tabpanel"
    >
      <div class="row gy-4">
        <table
          id="user-table"
          class="table"
          style="width: 100%"
        >
          <thead>
            <tr>
              <th class="text-center">ID</th>
              <th>Photo</th>
              <th class="text-center">Company Name</th>
              <th class="text-center">Full Name</th>
              <th class="text-center">Username</th>
              <th class="text-center">Phone No.</th>
              <th class="text-center">Email</th>
              <th class="text-center">Position</th>
              <th class="text-center">Date</th>
              <th class="all">Action</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>

  <form
    class="modal fade"
    tabindex="-1"
    id="edit-user-modal"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit User</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div
            class="mb-3 d-flex flex-column align-items-center justify-content-center"
          >
            <div
              id="photo"
              class="w-50 dropzone border d-flex justify-content-center align-items-center p-0"
            >
              <!-- <div
              class="dz-message"
              data-dz-message
            >
              <div class="text-muted">Drop user photo</div>
              <small class="text-small text-muted">(125 x 125 px)</small>
            </div> -->
            </div>
          </div>
          <input
            type="text"
            name="id"
            hidden
          />
          <div class="mb-3">
            <label
              for="company"
              class="form-label"
              >Company Name</label
            >
            <input
              type="text"
              class="form-control"
              id="company"
              name="company"
            />
          </div>
          <div class="mb-3">
            <label
              for="company"
              class="form-label"
              >Full Name</label
            >
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
            />
          </div>
          <div class="mb-3">
            <label
              for="username"
              class="form-label"
              >User Name</label
            >
            <input
              type="text"
              class="form-control"
              id="username"
              name="username"
            />
          </div>
          <div class="mb-3">
            <label
              for="phoneNo"
              class="form-label"
              >Phone No.</label
            >
            <input
              type="tel"
              class="form-control"
              id="phoneNo"
              name="phoneNo"
            />
          </div>
          <div class="mb-3">
            <label
              for="email"
              class="form-label"
              >Email</label
            >
            <input
              type="text"
              class="form-control"
              id="email"
              name="email"
            />
          </div>
          <div class="mb-3">
            <label
              for="position"
              class="form-label"
              >Position</label
            >
            <input
              type="text"
              class="form-control"
              id="position"
              name="position"
            />
          </div>
          <div class="mb-3">
            <label
              for="date"
              class="form-label"
              >Date</label
            >
            <input
              type="text"
              class="form-control"
              id="date"
              name="date"
              readonly
              disabled
            />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="submit"
            class="btn btn-primary"
          >
            Save changes
          </button>
        </div>
      </div>
    </div>
  </form>

  <div
    class="d-flex w-auto position-sticky"
    style="bottom: 16px; padding-right: 16px"
  >
    <button
      id="nav-dashboard"
      type="button"
      class="btn btn-primary rounded-circle ms-auto"
      style="height: 46px; width: 46px"
      window.location.href="/dashboard/vendor"
      ;
    >
      <i class="bi bi-send-fill"></i>
    </button>
  </div>

  <form
    class="modal fade"
    id="company-modal"
    tabindex="-1"
    role="dialog"
  >
    <div
      class="modal-dialog modal-dialog-centered"
      role="document"
    >
      <div class="modal-content">
        <div
          class="modal-header d-flex align-items-baseline justify-content-between"
        >
          <h5 class="modal-title">Company Management</h5>
          <span class="text-muted d-add-none"
            ><span class="extra-small">created</span>
            <span
              id="start-date"
              class="small"
            ></span>
          </span>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group row mb-3 d-add-none">
              <label
                for="package"
                class="col-sm-4 col-form-label"
                >Id</label
              >
              <div class="col-sm-8">
                <input
                  id="id"
                  name="id"
                  type="text"
                  class="form-control-plaintext"
                  readonly
                />
              </div>
            </div>
            <div class="form-group row mb-3">
              <label
                for="package"
                class="col-sm-4 col-form-label"
                >Package</label
              >
              <div class="col-sm-8">
                <select
                  id="package"
                  name="package"
                  class="form-control"
                >
                  <option value="basic">Basic</option>
                  <option value="premium">Premium</option>
                  <option value="deluxe">Deluxe</option>
                </select>
              </div>
            </div>
            <div class="form-group row mb-3">
              <label
                for="name"
                class="col-sm-4 col-form-label"
                >Name</label
              >
              <div class="col-sm-8">
                <input
                  id="name"
                  name="name"
                  type="text"
                  class="form-control"
                />
              </div>
            </div>

            <div class="form-group row mb-3">
              <label
                for="address"
                class="col-sm-4 col-form-label"
                >Address</label
              >
              <div class="col-sm-8">
                <input
                  id="address"
                  name="address"
                  type="text"
                  class="form-control"
                />
              </div>
            </div>
            <div class="form-group row mb-3">
              <label
                for="email"
                class="col-sm-4 col-form-label"
                >Email</label
              >
              <div class="col-sm-8">
                <div class="input-group">
                  <input
                    id="email"
                    name="email"
                    type="text"
                    class="form-control"
                  />
                  <button
                    type="button"
                    class="btn btn-warning d-add-none"
                    data-bs-toggle="tooltip"
                    data-bs-placement="right"
                    title="Resend tokens to the email"
                  >
                    <i class="bi bi-envelope-at-fill text-light"></i>
                  </button>
                </div>
                <div class="form-text extra-small">
                  Token will be generated and sent to this email once submitted.
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="submit"
            class="btn btn-primary"
          >
            Save changes
          </button>
        </div>
      </div>
    </div>
  </form>
</main>
