<!DOCTYPE html>
<html class="h-100">
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge"
    />
    <title>Developer</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
  </head>
  <body class="h-100 d-flex flex-column bg-light">
    <nav class="navbar navbar-light bg-primary-subtle">
      <div class="container py-2">
        <a
          class="navbar-brand d-flex align-items-center"
          href="#"
        >
          <img
            src="<%= require('../assets/logo only.svg') %>"
            width="45"
            height="45"
            alt=""
          />
          <span class="fw-bold fs-3 ms-2 d-flex"
            ><span class="text-primary">Vendo</span>
            <span class="text-primary-emphasis">sync</span>
          </span>
        </a>
        <button
          id="logout"
          type="button"
          class="btn btn-primary rounded-circle p-2 d-flex align-items-center"
        >
          <i
            class="bx bx-log-out text-light fs-5 m-1"
            style="translate: -2px"
          ></i>
        </button>
      </div>
    </nav>
    <div class="container py-5">
      <div class="row gy-4">
        <div class="col-md-5">
          <div class="row gy-3">
            <div class="col-md-6">
              <div class="card card-body shadow-sm">
                <div class="small mb-4">Total Company</div>
                <div class="text-center">
                  <div class="fs-1 mt-2 fw-bold">1500</div>
                  <div class="small text-success">↑ 13%</div>
                  <div class="extra-small text-muted mt-4">
                    vs previous 7 days ago
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card card-body shadow-sm">
                <div class="small mb-4">Basic Package</div>
                <div class="text-center">
                  <div class="fs-1 mt-2 fw-bold">300</div>
                  <div class="small text-success">↑ 13%</div>
                  <div class="extra-small text-muted mt-4">
                    vs previous 7 days ago
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card card-body shadow-sm">
                <div class="small mb-4">Premium Package</div>
                <div class="text-center">
                  <div class="fs-1 mt-2 fw-bold">700</div>
                  <div class="small text-danger">↓ 5%</div>
                  <div class="extra-small text-muted mt-4">
                    vs previous 7 days ago
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card card-body shadow-sm">
                <div class="small mb-4">Deluxe Package</div>
                <div class="text-center">
                  <div class="fs-1 mt-2 fw-bold">500</div>
                  <div class="small text-success">↑ 13%</div>
                  <div class="extra-small text-muted mt-4">
                    vs previous 7 days ago
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-7 d-flex">
          <div class="card shadow-sm flex-grow-1">
            <div
              class="card-header fw-bold bg-light d-flex justify-content-between align-items-center"
            >
              <span>Company List</span>
              <div class="d-flex">
                <button
                  type="button"
                  data-bs-toggle="modal"
                  data-bs-target="#addCompanyModal"
                  class="btn btn-outline-primary d-flex align-items-center justify-content-center me-2"
                >
                  <i class="bx bx-add-to-queue me-2 fs-5"></i>
                  Add
                </button>
                <button
                  type="button"
                  class="btn btn-primary d-flex align-items-center justify-content-center"
                >
                  <i class="bx bx-refresh me-2 fs-5"></i>
                  Refresh
                </button>
              </div>
            </div>
            <div class="card-body">
              <table
                id="example"
                class="table table-hover nowrap w-100"
              >
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Company Name</th>
                    <th>PIC Email</th>
                    <th>Address</th>
                    <th>Package</th>
                    <th>Start date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td scope="row">1</td>
                    <td>Zeen</td>
                    <td>Accountant</td>
                    <td>Edinburgh</td>
                    <td>Deluxe</td>
                    <td>2011-04-25</td>
                  </tr>
                  <tr>
                    <td scope="row">2</td>
                    <td>Tiger Nixon</td>
                    <td>Accountant</td>
                    <td>Edinburgh</td>
                    <td>61</td>
                    <td>2011-04-25</td>
                  </tr>
                  <tr>
                    <td scope="row">3</td>
                    <td>Tiger Nixon</td>
                    <td>Accountant</td>
                    <td>Edinburgh</td>
                    <td>61</td>
                    <td>2011-04-25</td>
                  </tr>
                  <tr>
                    <td scope="row">3</td>
                    <td>Tiger Nixon</td>
                    <td>Accountant</td>
                    <td>Edinburgh</td>
                    <td>61</td>
                    <td>2011-04-25</td>
                  </tr>
                  <tr>
                    <td scope="row">4</td>
                    <td>Tiger Nixon</td>
                    <td>Accountant</td>
                    <td>Edinburgh</td>
                    <td>61</td>
                    <td>2011-04-25</td>
                  </tr>
                  <tr>
                    <td scope="row">5</td>
                    <td>Tiger Nixon</td>
                    <td>Accountant</td>
                    <td>Edinburgh</td>
                    <td>61</td>
                    <td>2011-04-25</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="col-md-7 d-flex">
          <div class="card shadow-sm d-flex flex-grow-1">
            <div
              class="card-header fw-bold bg-light d-flex align-items-center justify-content-between"
            >
              Token List
              <button
                type="button"
                class="btn btn-primary d-flex align-items-center justify-content-center"
              >
                <i class="bx bx-refresh me-2 fs-5"></i>
                Refresh
              </button>
            </div>
            <div class="card-body">
              <table
                id="example1"
                class="table table-hover nowrap w-100"
              >
                <thead>
                  <tr>
                    <th></th>
                    <th>ID</th>
                    <th>Company ID</th>
                    <th>User ID</th>
                    <th>Position</th>
                    <th>Activated</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td></td>
                    <td>Tiger Nixon</td>
                    <td>Accountant</td>
                    <td>Edinburgh</td>
                    <td>61</td>
                    <td>2011-04-25</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>Garrett Winters</td>
                    <td>Accountant</td>
                    <td>Tokyo</td>
                    <td>63</td>
                    <td>2011-07-25</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>Ashton Cox</td>
                    <td>Junior Technical Author</td>
                    <td>San Francisco</td>
                    <td>66</td>
                    <td>2009-01-12</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>Cedric Kelly</td>
                    <td>Senior Javascript Developer</td>
                    <td>Edinburgh</td>
                    <td>22</td>
                    <td>2012-03-29</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>Airi Satou</td>
                    <td>Accountant</td>
                    <td>Tokyo</td>
                    <td>33</td>
                    <td>2008-11-28</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>Brielle Williamson</td>
                    <td>Integration Specialist</td>
                    <td>New York</td>
                    <td>61</td>
                    <td>2012-12-02</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>Herrod Chandler</td>
                    <td>Sales Assistant</td>
                    <td>San Francisco</td>
                    <td>59</td>
                    <td>2012-08-06</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-5 d-flex">
          <div class="card flex-grow-1">
            <div class="card-header border-0 bg-transparent fw-bold">
              Token Usage
            </div>
            <div class="card-body d-flex flex-grow-1">
              <div
                id="main"
                class="flex-grow-1"
              ></div>
            </div>
          </div>
        </div>
        <div
          class="col-md-4 d-flex"
          style="height: 350px"
        >
          <div class="card d-flex flex-grow-1">
            <div class="card-header border-0 bg-transparent fw-bold">
              User something
            </div>
            <div class="card-body d-flex flex-grow-1">
              <div
                id="userChart"
                class="flex-grow-1"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="modal fade"
      id="addCompanyModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true"
    >
      <div
        class="modal-dialog modal-dialog-centered"
        role="document"
      >
        <div class="modal-content">
          <div class="modal-header">
            <h5
              class="modal-title"
              id="exampleModalLongTitle"
            >
              Company Registration
            </h5>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group row mb-3">
                <label
                  for="package"
                  class="col-sm-4 col-form-label"
                  >Package</label
                >
                <div class="col-sm-8">
                  <select
                    id="package"
                    name="package"
                    class="form-select"
                  >
                    <option
                      value="1"
                      selected
                    >
                      Basic
                    </option>
                    <option value="2">Premium</option>
                    <option value="3">Deluxe</option>
                  </select>
                </div>
              </div>
              <div class="form-group row mb-3">
                <label
                  for="name"
                  class="col-sm-4 col-form-label"
                  >Name</label
                >
                <div class="col-sm-8">
                  <input
                    id="name"
                    name="name"
                    type="text"
                    class="form-control"
                    placeholder="Example name"
                  />
                </div>
              </div>

              <div class="form-group row mb-3">
                <label
                  for="address"
                  class="col-sm-4 col-form-label"
                  >Address</label
                >
                <div class="col-sm-8">
                  <input
                    id="address"
                    name="address"
                    type="text"
                    class="form-control"
                    placeholder="UUM Sintok"
                  />
                </div>
              </div>
              <div class="form-group row mb-3">
                <label
                  for="email"
                  class="col-sm-4 col-form-label"
                  >Email</label
                >
                <div class="col-sm-8">
                  <input
                    id="email"
                    name="email"
                    type="text"
                    class="form-control"
                    placeholder="example@gmail.com"
                  />
                  <div class="form-text extra-small">
                    Token will be generated and sent to this email once
                    submitted.
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              class="btn btn-primary"
            >
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>

    <div
      class="modal fade"
      id="companyManageModal"
      tabindex="-1"
      role="dialog"
    >
      <div
        class="modal-dialog modal-dialog-centered"
        role="document"
      >
        <div class="modal-content">
          <div
            class="modal-header d-flex align-items-baseline justify-content-between"
          >
            <h5 class="modal-title">Company Management</h5>
            <span class="text-muted"
              ><span class="extra-small">created</span>
              <span
                id="_startDate"
                class="small"
              ></span>
            </span>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group row mb-3">
                <label
                  for="_package"
                  class="col-sm-4 col-form-label"
                  >Id</label
                >
                <div class="col-sm-8">
                  <input
                    id="_id"
                    name="id"
                    type="text"
                    class="form-control-plaintext"
                    readonly
                  />
                </div>
              </div>
              <div class="form-group row mb-3">
                <label
                  for="_package"
                  class="col-sm-4 col-form-label"
                  >Package</label
                >
                <div class="col-sm-8">
                  <input
                    id="_package"
                    name="packpage"
                    type="text"
                    class="form-control-plaintext"
                    readonly
                  />
                </div>
              </div>
              <div class="form-group row mb-3">
                <label
                  for="_name"
                  class="col-sm-4 col-form-label"
                  >Name</label
                >
                <div class="col-sm-8">
                  <input
                    id="_name"
                    name="name"
                    type="text"
                    class="form-control"
                  />
                </div>
              </div>

              <div class="form-group row mb-3">
                <label
                  for="_address"
                  class="col-sm-4 col-form-label"
                  >Address</label
                >
                <div class="col-sm-8">
                  <input
                    id="_address"
                    name="address"
                    type="text"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="form-group row mb-3">
                <label
                  for="_email"
                  class="col-sm-4 col-form-label"
                  >Email</label
                >
                <div class="col-sm-8">
                  <div class="input-group">
                    <input
                      id="_email"
                      name="email"
                      type="text"
                      class="form-control"
                    />
                    <button
                      type="button"
                      class="btn btn-warning"
                      data-bs-toggle="tooltip"
                      data-bs-placement="right"
                      title="Resend tokens to the email"
                    >
                      <i class="bx bx-mail-send text-light"></i>
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              class="btn btn-primary"
            >
              Save changes
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
