<!DOCTYPE html>
<html class="h-100">
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge"
    />
    <meta
      name="redirect-url"
      content="{{ redirect_url | default('') }}"
    />
    <link
      rel="icon"
      href="<%= require('../assets/favicon.ico') %>"
    />
    <title>Vendosync</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
  </head>
  <body class="h-100 bg-light bg-gradient">
    {% if main_content %} {{ main_content | safe }} {% else %}
    <main></main>
    {% endif %}
    <div
      class="w-100 h-100 d-flex justify-content-center align-items-center position-fixed top-0"
      style="z-index: -1"
    >
      <div
        class="spinner-grow text-primary"
        role="status"
      ></div>
    </div>
  </body>
</html>
