<main class="h-100 w-100">
  <aside id="sidebar">
    <div
      id="bar-links"
      class="d-flex flex-column h-100"
    >
      <a
        href="vendor_management"
        class="d-flex align-items-center text-decoration-none mt-4"
      >
        <img
          src="<%= require('../assets/logo-white.png') %>"
          alt="Vendosync Logo"
          width="20"
          class="me-3"
        />
        <span
          class="fw-medium text-light text-decoration-none fw-bold ms-2 fs-5"
          >Vendosync</span
        >
      </a>
      <hr
        class="text-white bg-white mt-3 mb-4 opacity-50"
        style="height: 2px"
      />
      <a
        href="/manager_dashboard/vendor_management"
        class="d-flex align-items-center text-decoration-none py-3 bar-link"
      >
        <i class="bi bi-database-gear me-3"></i>
        <span class="fw-medium ms-2">Vendor Management</span>
      </a>
      <a
        href="/manager_dashboard/profile"
        class="d-flex align-items-center text-decoration-none py-3 bar-link"
      >
        <i class="bi bi-person me-3"></i>
        <span class="fw-medium ms-2">User Profile</span>
      </a>
      <a
        href="/"
        class="d-flex align-items-center text-decoration-none py-3 bar-link"
      >
        <i class="bx bx-grid-alt me-3"></i>
        <span class="fw-medium ms-2 mb-1">Vendor</span>
      </a>
      <a
        href="/"
        class="d-flex align-items-center text-decoration-none py-3 bar-link"
      >
        <i class="bx bx-grid-alt me-3"></i>
        <span class="fw-medium ms-2 mb-1">Vendor</span>
      </a>
      <a
        href="/"
        class="d-flex align-items-center text-decoration-none py-3 bar-link"
      >
        <i class="bx bx-grid-alt me-3"></i>
        <span class="fw-medium ms-2 mb-1">Vendor</span>
      </a>
      <a
        href="/login"
        class="d-flex mt-auto mb-3 align-items-center text-decoration-none py-3 bar-link"
      >
        <i class="bi bi-box-arrow-left me-3"></i>
        <span class="fw-medium ms-2">Sign Out</span>
      </a>
    </div>
  </aside>

  <header
    id="header"
    class="bg-primary-subtle d-flex justify-content-between align-items-center"
  >
    <i
      id="sidebar-toggler"
      class="bx bx-menu fs-3 text-primary"
    ></i>
    <button
      id="chat-btn"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#chat-container"
      class="btn btn-primary rounded-circle d-flex justify-content-center align-items-center p-0"
    >
      <i class="bx bx-message-dots"></i>
    </button>
  </header>
  <div
    class="offcanvas offcanvas-end"
    tabindex="-1"
    id="chat-container"
  >
    <div
      class="offcanvas-header border-bottom border-primary border-opacity-25 d-flex align-content-center justify-content-between bg-primary-subtle py-2"
    >
      <span class="align-middle fw-bold text-primary fs-5">VendoBot</span>
      <div class="d-flex justify-content-end align-items-center">
        <button
          type="button"
          class="btn btn-primary d-flex align-items-center justify-content-center p-1 me-1"
        >
          <i class="bx bx-dots-vertical-rounded fs-6"></i>
        </button>
        <button
          type="button"
          data-bs-dismiss="offcanvas"
          class="btn btn-primary d-flex align-items-center justify-content-center p-0"
        >
          <i class="bx bx-x fs-4"></i>
        </button>
      </div>
    </div>
    <div
      class="offcanvas-body position-relative bg-primary-subtle d-flex overflow-hidden p-0"
    >
      <div
        id="chat-content-container"
        class="flex-grow-1 px-4"
      >
        <template id="user-message-template">
          <div
            class="d-flex align-items-center justify-content-end mt-4 my-2 fw-medium"
          >
            <div
              class="p-3 bg-primary bg-opacity-25 ms-auto text-wrap rounded-4 text-secondary-emphasis user-message"
            >
              Hello, this is a very logn testing e Hello, this is a very logn
              testing message Hello, this is a very logn testing message Hello,
              this is a very logn testing Message
            </div>
          </div>
        </template>
        <template id="user-reply-template">
          <div
            class="d-flex flex-column lh-lg align-items-start justify-content-center my-3 fw-medium text-primary-emphasis user-reply text-wrap"
          >
            testing message Hello, this is a very logn testing message Hello,
            this is a very logn testing Message
          </div>
        </template>
        <template id="chat-content-template">
          <div
            class="col-12 text-center fs-3 pt-2 pb-4 fw-bold text-primary-emphasis"
          >
            Explore this page
          </div>
          <div class="col-12">
            <div class="d-flex">
              <div
                class="rounded-4 bg-primary shadow-sm bg-opacity-25 flex-grow-1 me-2 p-4 fs-5 fw-bold"
                style="flex-basis: 0"
              >
                <i class="bi bi-file-bar-graph fs-3"></i>
                <div>Create a summary</div>
              </div>
              <div
                class="rounded-4 bg-primary shadow-sm bg-opacity-25 flex-grow-1 basis ms-2 p-4 fs-5 fw-bold"
                style="flex-basis: 0"
              >
                <i class="bi bi-chat-dots fs-3"></i>
                <div>Suggestion on decision</div>
              </div>
            </div>
          </div>
          <div class="col-12 pt-5">
            <div class="text-center fs-3 fw-bold text-primary-emphasis">
              Enjoy
            </div>
            <img
              src="<%= require('../assets/chat.svg') %>"
              class="user-select-none img-fluid mt-5"
            />
          </div>
        </template>
        <div
          class="row g-0"
          id="chat-content"
        ></div>
      </div>
      <form
        id="chat-input-container"
        class="rounded-5 py-3 px-3 bg-secondary position-absolute border border-primary border-opacity-50 row g-0 d-flex"
        style="left: 1.5rem; right: 1.5rem; bottom: 1rem"
      >
        <div class="overflow-hidden col-10 rounded-start-4">
          <label
            for="chat-input"
            class="visually-hidden"
            >Example textarea</label
          >
          <textarea
            class="form-control rounded-0 border-0"
            placeholder="Message VendoBot"
            name="chat-input"
            id="chat-input"
            rows="1"
          ></textarea>
        </div>
        <div
          class="col-2 d-flex flex-column justify-content-end align-items-end bg-white rounded-end-4"
        >
          <button
            type="submit"
            class="btn btn-primary rounded-circle d-flex justify-content-center align-items-center mb-1 me-1"
            style="width: 30px; height: 30px"
          >
            <i class="bx bx-up-arrow-alt fs-3"></i>
          </button>
        </div>
      </form>
    </div>
  </div>

  <!--Container Main start-->

  <div
    id="content-container"
    class="w-100 h-100 overflow-hidden"
  >
    <div id="content"></div>
  </div>

  <!-- Container Main End here -->
</main>
