<div
  id="content"
  class="px-4 overflow-y-auto overflow-x-hidden h-100"
>
  <ul
    class="list-group list-group-horizontal position-relative overflow-auto w-100"
    role="tablist"
  >
    <li
      class="list-group-item border-0 me-1 active"
      role="tab"
      data-bs-toggle="pill"
      data-bs-target="#tab1"
    >
      <div class="card shadow-sm pointer-cursor">
        <div class="card-body">
          <div class="mb-4 d-flex align-items-start justify-content-between">
            <div class="d-flex flex-column justify-content-center me-4">
              <div class="fw-medium">#7271890209422352384</div>
              <small class="text-muted">12 Nov 2024</small>
            </div>
            <span class="badge text-bg-success text-light mt-1">Processed</span>
          </div>
          <div
            class="progress mb-2"
            style="height: 8px"
          >
            <div
              class="progress-bar"
              role="progressbar"
              style="width: 75%"
              aria-valuenow="75"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
          <div class="small">
            10 RFQs Processed
            <span class="text-muted">of 13 RFQs</span>
          </div>
        </div>
      </div>
    </li>
    <li
      class="list-group-item border-0 me-1"
      role="tab"
      data-bs-toggle="pill"
      data-bs-target="#tab2"
    >
      <div class="card shadow-sm pointer-cursor">
        <div class="card-body">
          <div class="mb-4 d-flex align-items-start justify-content-between">
            <div class="d-flex flex-column justify-content-center me-4">
              <div class="fw-medium">#7271890209422352384</div>
              <small class="text-muted">12 Nov 2024</small>
            </div>
            <span class="badge text-bg-success text-light mt-1">Processed</span>
          </div>
          <div
            class="progress mb-2"
            style="height: 8px"
          >
            <div
              class="progress-bar"
              role="progressbar"
              style="width: 75%"
              aria-valuenow="75"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
          <div class="small">
            10 RFQs Processed
            <span class="text-muted">of 13 RFQs</span>
          </div>
        </div>
      </div>
    </li>
    <li
      class="list-group-item border-0 me-1"
      role="tab"
      data-bs-toggle="pill"
      data-bs-target="#tab3"
    >
      <div class="card shadow-sm pointer-cursor">
        <div class="card-body">
          <div class="mb-4 d-flex align-items-start justify-content-between">
            <div class="d-flex flex-column justify-content-center me-4">
              <div class="fw-medium">#7271890209422352384</div>
              <small class="text-muted">12 Nov 2024</small>
            </div>
            <span class="badge text-bg-success text-light mt-1">Processed</span>
          </div>
          <div
            class="progress mb-2"
            style="height: 8px"
          >
            <div
              class="progress-bar"
              role="progressbar"
              style="width: 75%"
              aria-valuenow="75"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
          <div class="small">
            10 RFQs Processed
            <span class="text-muted">of 13 RFQs</span>
          </div>
        </div>
      </div>
    </li>
    <li
      class="list-group-item border-0 me-1"
      role="tab"
      data-bs-toggle="pill"
      data-bs-target="#tab4"
    >
      <div class="card shadow-sm pointer-cursor">
        <div class="card-body">
          <div class="mb-4 d-flex align-items-start justify-content-between">
            <div class="d-flex flex-column justify-content-center me-4">
              <div class="fw-medium">#7271890209422352384</div>
              <small class="text-muted">12 Nov 2024</small>
            </div>
            <span class="badge text-bg-success text-light mt-1">Processed</span>
          </div>
          <div
            class="progress mb-2"
            style="height: 8px"
          >
            <div
              class="progress-bar"
              role="progressbar"
              style="width: 75%"
              aria-valuenow="75"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
          <div class="small">
            10 RFQs Processed
            <span class="text-muted">of 13 RFQs</span>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <div
    class="tab-content"
    id="nav-tabContent"
  >
    <div
      class="tab-pane fade show active p-5 card"
      id="tab1"
      role="tabpanel"
    >
      <table class="table table-borderless justify-content-center">
        <thead>
          <tr class="border-bottom">
            <th
              scope="col"
              style="width: 80%"
              class="border-end"
            >
              Suggested vendor
            </th>
            <th
              scope="col"
              style="width: 20%"
              class="text-center align-items-center"
            >
              <i
                class="bx bx-mail-send text-dark"
                style="width: 40"
              ></i>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="border-end">Starbucks</td>
            <td align="center">
              <button
                type="button"
                class="btn btn-outline-primary d-flex align-items-center justify-content-center me-2"
                data-bs-toggle="modal"
                data-bs-target="#addRFQModal"
              >
                <i class="bx bxs-message-dots"></i>
                RFQ
              </button>
            </td>
          </tr>
          <tr>
            <td class="border-end">Chagee</td>
            <td align="center">
              <button
                type="button"
                class="btn btn-outline-primary d-flex align-items-center justify-content-center me-2"
                data-bs-toggle="modal"
                data-bs-target="#addRFQModal"
              >
                <i class="bx bxs-message-dots"></i>
                RFQ
              </button>
            </td>
          </tr>
          <tr>
            <td class="border-end">Tealive</td>
            <td align="center">
              <button
                type="button"
                class="btn btn-outline-primary d-flex align-items-center justify-content-center me-2"
                data-bs-toggle="modal"
                data-bs-target="#addRFQModal"
              >
                <i class="bx bxs-message-dots"></i>
                RFQ
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div
      class="tab-pane fade p-5 card"
      id="tab2"
      role="tabpanel"
    >
      tab2
    </div>
    <div
      class="tab-pane fade p-5 card"
      id="tab3"
      role="tabpanel"
    >
      tab3
    </div>
    <div
      class="tab-pane fade p-5 card"
      id="tab4"
      role="tabpanel"
    >
      tab4
    </div>
  </div>
</div>
