<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
  rel="stylesheet"
/>

<div class="my-4">
  <div class="row mb-3 gy-sm-3 d-sm-flex justify-content-center">
    <div class="col-lg-4 col-sm-10 d-flex">
      <div class="card shadow-sm flex-grow-1">
        <img
          class="card-img-top object-fit-cover"
          src="https://placehold.co/300x300"
          height="300"
        />
        <div class="card-img-overlay">
          <form
            action=""
            class="d-flex justify-content-end"
          >
            <input
              type="file"
              id="image"
              name="image"
              hidden
            />
            <label
              for="image"
              class="btn btn-primary"
            >
              <i class="fa fa-fw fa-camera"></i>
              <span>Change Photo</span>
            </label>
          </form>
        </div>
        <div class="card-body">
          <div class="card-title d-flex mt-2 mb-4">
            <span class="fw-bold me-auto">My Profile</span>
            <span class="text-muted">
              <small>Joined 09 Dec 2017</small>
            </span>
          </div>
          <div class="my-4">
            <div class="d-flex align-items-end">
              <i class="bx bxs-user-detail me-3 fs-5"></i>
              <div class="border-bottom w-100">12345</div>
            </div>
          </div>
          <div class="my-4">
            <div class="d-flex align-items-center">
              <i class="bx bx-envelope me-3 fs-5"></i>
              <div class="border-bottom w-100">example@email.com</div>
            </div>
          </div>
          <div class="my-4">
            <div class="d-flex align-items-center">
              <i class="bx bx-briefcase me-3 fs-5"></i>
              <div class="border-bottom w-100">CEO UUM</div>
            </div>
          </div>
          <div class="my-4">
            <div class="d-flex align-items-center">
              <i class="bx bx-buildings me-3 fs-5"></i>
              <div class="border-bottom w-100">UUM Campus</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-sm-10 d-flex flex-column justify-content-between">
      <div class="card shadow-sm mb-sm-3">
        <div class="card-header">User Information</div>
        <div class="card-body">
          <form
            class="form"
            id="profileForm"
          >
            <div class="form-group row mb-3">
              <label
                for="name"
                class="col-sm-3 col-form-label text-dark"
                >Full Name</label
              >
              <div class="col-sm-9">
                <input
                  class="form-control"
                  type="text"
                  id="name"
                  name="name"
                  placeholder="John Smith"
                  value="John Smith"
                />
              </div>
            </div>

            <div class="form-group row mb-3">
              <label
                for="username"
                class="col-sm-3 col-form-label text-dark"
                >Username</label
              >
              <div class="col-sm-9">
                <input
                  class="form-control"
                  type="text"
                  id="username"
                  name="username"
                  placeholder="johnny.s"
                  value="johnny.s"
                />
              </div>
            </div>
            <div class="form-group row mb-3">
              <label
                for="phoneNo"
                class="col-sm-3 col-form-label text-dark"
                >Phone No.</label
              >
              <div class="col-sm-9">
                <input
                  class="form-control"
                  type="tel"
                  id="phoneNo"
                  name="phoneNo"
                  placeholder="012-3456789"
                />
              </div>
            </div>

            <div class="mt-4 d-flex justify-content-end">
              <button
                class="btn btn-primary"
                type="submit"
              >
                Save Changes
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="card shadow-sm">
        <div class="card-header">Privacy</div>
        <div class="card-body">
          <form
            class="form"
            id="privacyForm"
          >
            <div class="form-group row mb-3">
              <label
                for="password"
                class="col-sm-3 col-form-label text-dark"
                >Old password</label
              >
              <div class="col-sm-9">
                <input
                  class="form-control"
                  type="password"
                  id="password"
                  name="password"
                  autocomplete="off"
                />
              </div>
            </div>
            <div class="form-group row mb-3">
              <label
                for="userId"
                class="col-sm-3 col-form-label text-dark"
                >New password</label
              >
              <div class="col-sm-9">
                <input
                  class="form-control"
                  type="password"
                  id="newPassword"
                  name="newPassword"
                  autocomplete="off"
                />
              </div>
            </div>

            <div class="form-group row mb-3">
              <label
                for="confirmPassword"
                class="col-sm-3 col-form-label text-dark"
                >Retype password</label
              >
              <div class="col-sm-9">
                <input
                  class="form-control"
                  type="password"
                  id="confirmPassword"
                  name="confirmPassword"
                  autocomplete="off"
                />
              </div>
            </div>

            <div class="mt-4 d-flex justify-content-end">
              <button
                class="btn btn-primary"
                type="submit"
              >
                Save Changes
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="row">
    <div class="col-12 mb-3">
      <div class="card">
        <div class="card-body">
          <div class="e-profile">
            <div class="row">
              <div class="col-4 col-sm-auto mb-3">
                <div
                  class="mx-auto"
                  style="width: 140px"
                >
                  <div
                    class="d-flex justify-content-center align-items-center rounded"
                    style="height: 140px; background-color: rgb(233, 236, 239)"
                  >
                    <span
                      style="color: rgb(166, 168, 170); font: bold 8pt Arial"
                      >140x140</span
                    >
                  </div>
                </div>
              </div>
              <div
                class="col d-flex flex-column flex-sm-row justify-content-between mb-3"
              >
                <div class="text-center text-sm-left mb-2 mb-sm-0">
                  <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">John Smith</h4>
                  <p class="mb-0">@johnny.s</p>

                  <div class="mt-2"></div>
                </div>
                <div class="text-center text-sm-right">
                  <span class="badge badge-secondary">administrator</span>
                  <div class="text-muted">
                    <small>Joined 09 Dec 2017</small>
                  </div>
                </div>
              </div>
            </div>
            <ul
              class="nav nav-tabs"
              id="tabs"
            >
              <li
                class="nav-item"
                role="presentation"
              >
                <button
                  class="nav-link active"
                  data-bs-toggle="tab"
                  data-bs-target="#info-tab"
                  type="button"
                  role="tab"
                  aria-controls="home"
                  aria-selected="true"
                >
                  Info
                </button>
              </li>
              <li
                class="nav-item"
                role="presentation"
              >
                <button
                  class="nav-link"
                  data-bs-toggle="tab"
                  data-bs-target="#privacy-tab"
                  type="button"
                  role="tab"
                >
                  Privacy
                </button>
              </li>
            </ul>
            <div class="tab-content">
              <div
                class="tab-pane show fade border-bottom border-start border-end p-4 active"
                id="info-tab"
              >
                <form
                  class="form"
                  id="profileForm"
                >
                  <div class="form-group row mb-3">
                    <label
                      for="userId"
                      class="col-sm-3 col-form-label text-dark"
                      >UserID</label
                    >
                    <div class="col-sm-9">
                      <input
                        class="form-control"
                        type="number"
                        id="userId"
                        name="id"
                        value="9999"
                        readonly
                      />
                    </div>
                  </div>

                  <div class="form-group row mb-3">
                    <label
                      for="name"
                      class="col-sm-3 col-form-label text-dark"
                      >Full Name</label
                    >
                    <div class="col-sm-9">
                      <input
                        class="form-control"
                        type="text"
                        id="name"
                        name="name"
                        placeholder="John Smith"
                        value="John Smith"
                      />
                    </div>
                  </div>

                  <div class="form-group row mb-3">
                    <label
                      for="username"
                      class="col-sm-3 col-form-label text-dark"
                      >Username</label
                    >
                    <div class="col-sm-9">
                      <input
                        class="form-control"
                        type="text"
                        id="username"
                        name="username"
                        placeholder="johnny.s"
                        value="johnny.s"
                      />
                    </div>
                  </div>
                  <div class="form-group row mb-3">
                    <label
                      for="phoneNo"
                      class="col-sm-3 col-form-label text-dark"
                      >Phone No.</label
                    >
                    <div class="col-sm-9">
                      <input
                        class="form-control"
                        type="tel"
                        id="phoneNo"
                        name="phoneNo"
                        placeholder="012-3456789"
                      />
                    </div>
                  </div>
                  <div class="form-group row mb-3">
                    <label
                      for="email"
                      class="col-sm-3 col-form-label text-dark"
                      >Email</label
                    >
                    <div class="col-sm-9">
                      <input
                        class="form-control text-dark"
                        type="email"
                        id="email"
                        name="email"
                        placeholder="user@example.com"
                      />
                    </div>
                  </div>
                  <div class="mt-3 d-flex justify-content-end">
                    <button
                      class="btn btn-primary"
                      type="submit"
                    >
                      Save Changes
                    </button>
                  </div>
                </form>
              </div>

              <div
                class="tab-pane fade border-bottom border-start border-end p-4"
                id="privacy-tab"
              >
                <form
                  class="form"
                  id="privacyForm"
                >
                  <div class="form-group row mb-3">
                    <label
                      for="password"
                      class="col-sm-3 col-form-label text-dark"
                      >Old password</label
                    >
                    <div class="col-sm-9">
                      <input
                        class="form-control"
                        type="password"
                        id="password"
                        name="password"
                        autocomplete="off"
                      />
                    </div>
                  </div>
                  <div class="form-group row mb-3">
                    <label
                      for="userId"
                      class="col-sm-3 col-form-label text-dark"
                      >New password</label
                    >
                    <div class="col-sm-9">
                      <input
                        class="form-control"
                        type="password"
                        id="newPassword"
                        name="newPassword"
                        autocomplete="off"
                      />
                    </div>
                  </div>

                  <div class="form-group row mb-3">
                    <label
                      for="confirmPassword"
                      class="col-sm-3 col-form-label text-dark"
                      >Confirm password</label
                    >
                    <div class="col-sm-9">
                      <input
                        class="form-control"
                        type="password"
                        id="confirmPassword"
                        name="confirmPassword"
                        autocomplete="off"
                      />
                    </div>
                  </div>

                  <div class="mt-3 d-flex justify-content-end">
                    <button
                      class="btn btn-primary"
                      type="submit"
                    >
                      Save Changes
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
<script src="../static/javascript/profile.js"></script>
