<div
    id="content"
    class="row py-3 px-4 gy-sm-3 d-fle justify-content-center overflow-y-auto"
    style="max-height: 100%;"
  >
    <div class="col-lg-4 col-sm-10 d-flex">
      <div class="card shadow-sm flex-fill">
        <img
          id="photo"
          class="card-img-top object-fit-cover"
          src="https://placehold.co/300x300"
          height="200"
        />
        <div class="card-img-overlay">
          <form
            action=""
            class="d-flex justify-content-end"
          >
            <input
              type="file"
              id="image"
              name="image"
              hidden
            />
            <label
              for="image"
              class="btn btn-primary"
            >
              <i class="fa fa-fw fa-camera"></i>
              <span>Change Photo</span>
            </label>
          </form>
        </div>
        <div class="card-body">
          <div class="card-title d-flex mt-2 mb-4">
            <span class="fw-bold me-auto">My Profile</span>
            <span class="text-muted">
              <small id="date">Joined 09 Dec 2017</small>
            </span>
          </div>
          <div class="my-4">
            <div class="d-flex align-items-end">
              <i class="bx bxs-user-detail me-3 fs-5"></i>
              <div id="id" class="border-bottom w-100 text-truncate">12345</div>
            </div>
          </div>
          <div class="my-4">
            <div class="d-flex align-items-center">
              <i class="bx bx-envelope me-3 fs-5"></i>
              <div id="email" class="border-bottom w-100 text-truncate">example@email.com</div>
            </div>
          </div>
          <div class="my-4">
            <div class="d-flex align-items-center">
              <i class="bx bx-briefcase me-3 fs-5"></i>
              <div id="position" class="border-bottom w-100 text-truncate">CEO UUM</div>
            </div>
          </div>
          <div class="my-4">
            <div class="d-flex align-items-center">
              <i class="bx bx-buildings me-3 fs-5"></i>
              <div id="company" class="border-bottom w-100 text-truncate">UUM Campus</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-sm-10 d-flex flex-column justify-content-start">
      <div class="card shadow-sm mb-sm-3">
        <div class="card-header">User Information</div>
        <div class="card-body">
          <form
            class="form"
            id="profile-form"
          >
            <div class="form-group row mb-3">
              <label
              for="name"
                class="col-sm-3 col-form-label text-dark"
                >Full Name</label
              >
              <div class="col-sm-9">
                <input
                  class="form-control"
                  type="text"
                  id="name"
                  name="name"
                  placeholder="John Smith"
                  value="John Smith"
                />
              </div>
            </div>

            <div class="form-group row mb-3">
              <label
                for="username"
                class="col-sm-3 col-form-label text-dark"
                >Username</label
              >
              <div class="col-sm-9">
                <input
                  class="form-control"
                  type="text"
                  id="username"
                  name="username"
                  placeholder="johnny.s"
                  value="johnny.s"
                />
              </div>
            </div>
            <div class="form-group row mb-3">
              <label
                for="phoneNo"
                class="col-sm-3 col-form-label text-dark"
                >Phone No.</label
              >
              <div class="col-sm-9">
                <input
                  class="form-control"
                  type="tel"
                  id="phoneNo"
                  name="phoneNo"
                  title="Phone number must be in E.164 format (+<country code><number>)"
                  pattern="^\+(\d{1,3})\d{1,14}$"
                  placeholder="+60123456789"
                />
              </div>
            </div>

            <div class="mt-4 d-flex justify-content-end">
              <button
                class="btn btn-primary"
                type="submit"
              >
                Save Changes
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="card shadow-sm">
        <div class="card-header">Privacy</div>
        <div class="card-body">
          <form
            class="form"
            id="privacy-form"
          >
          <div class="form-group row mb-3">
            <label
              for="old-password"
              class="col-sm-3 col-form-label text-dark"
              >Old Password</label
            >
            <div class="col-sm-9">
              <input
                class="form-control"
                type="password"
                id="old-password"
                name="old-password"
                autocomplete="off"
              />
            </div>
          </div>
            <div class="form-group row mb-3">
              <label
                for="new-password"
                class="col-sm-3 col-form-label text-dark"
                >New Password</label
              >
              <div class="col-sm-9">
                <input
                  class="form-control"
                  type="password"
                  id="new-password"
                  name="new-password"
                  autocomplete="off"
                />
              </div>
            </div>

            <div class="form-group row mb-3">
              <label
                for="confirm-password"
                class="col-sm-3 col-form-label text-dark"
                >Confirm Password</label
              >
              <div class="col-sm-9">
                <input
                  class="form-control"
                  type="password"
                  id="confirm-password"
                  name="confirm-password"
                  autocomplete="off"
                />
              </div>
            </div>

            <div class="mt-4 d-flex justify-content-end">
              <button
                class="btn btn-primary"
                type="submit"
              >
                Save Changes
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
