<!-- <div
  id="content"
  class="px-4 overflow-y-auto py-3 overflow-x-hidden h-100"
>
  <table
    id="purchase-table"
    class="table"
    style="width: 100%"
  >
    <thead>
      <tr>
        <th></th>
        <th>ID#</th>
        <th>RFQ ID</th>
        <th>Item Quantity</th>
        <th>Total Price (RM)</th>
        <th>Status</th>
        <th class="all">Action</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>

  <form
    class="modal fade"
    tabindex="-1"
    id="add-new-purchase-modal"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">New Purchase Order</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div
            class="mb-3 d-flex flex-column align-items-center justify-content-center"
          >
            <input
              name="id"
              type="text"
              hidden
            />
            <div class="mb-3">
              <label
                for="itemQuantity"
                class="form-label"
                >Item Quantity</label
              >
            </div>
            <input
              id="itemQuantity"
              name="quantity"
              type="number"
              min="1"
              class="form-control"
              required
            />
          </div>
          <div class="mb-3">
            <label
              for="itemPrice"
              class="form-label"
              >Total Price (RM)</label
            >
            <input
              type="number"
              min="0.01"
              class="form-control"
              id="itemPrice"
              name="price"
              required
            />
          </div>
          <div class="mb-3">
            <label
              for="status-list"
              class="form-label"
              >Status</label
            >
            <select
              id="status-list"
              class="mb-2 form-control"
              autocomplete="off"
            ></select>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="submit"
            class="btn btn-primary"
          >
            Save Changes
          </button>
        </div>
      </div>
    </div>
  </form>
</div> -->
