<div
  id="content"
  class="px-4 overflow-y-auto py-3 overflow-x-hidden h-100 d-flex flex-column"
>
  <div class="card card-body">
    <table
      id="rfq-table"
      class="table"
      style="width: 100%"
    >
      <thead>
        <tr>
          <th>ID#</th>
          <th>Procurement ID</th>
          <th>Vendor Name</th>
          <th>Status</th>
          <th>Link</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr>
          <td>001</td>
          <td>0001</td>
          <td>AAAAA</td>
          <td>Confirm</td>
          <td>Link</td>
        </tr> -->
      </tbody>
    </table>
  </div>
</div>
