<div
  id="content"
  class="px-4 overflow-y-auto py-3 overflow-x-hidden h-100"
>
  <div class="py-3">
    <div class="card card-body">
      <div class="dashboard-container">
        <div class="dashboard-header">
          <div class="title h3 text-center">
            <strong>Overall Performance</strong>
          </div>
        </div>
        <hr />
        <div class="container text-center">
          <div class="row">
            <div class="col-sm">
              <div class="card-title text-primary">
                <strong>Registered Vendor</strong>
              </div>
              <div class="card-value h4"><strong>150</strong></div>
              <div class="card-info text-danger">10% graded &lt; 60%</div>
            </div>
            <div class="col-sm">
              <div class="card-title text-primary">
                <strong>Quotation Made</strong>
              </div>
              <div class="card-value h4"><strong>400</strong></div>
              <div class="card-info text-danger">Response Rate: 14.1%</div>
            </div>
            <div class="col-sm">
              <div class="card-title text-primary">
                <strong>Purchase Cycle</strong>
              </div>
              <div class="card-value h4"><strong>200</strong></div>
              <div class="card-info text-success">Average: 7 days</div>
            </div>
          </div>
        </div>
        <div class="button-container justify-content-end mt-4"></div>
      </div>
    </div>
  </div>

  <div class="card card-body h-100">
    <div class="container h-100">
      <div class="row h-100 gx-5">
        <form
          class="col-5"
          id="chart-form"
        >
          <label
            for="chart-select"
            class="form-label"
            >Choose an option:</label
          >
          <select
            data-mdb-select-init
            class="form-select form-select-lg mb-4"
            id="chart-select"
          >
            <option value="vendorReviewGred">Vendor Grades Ranking</option>
            <option value="itemCategory">Item Category Distribution</option>
            <option value="rfqCount">RFQ Count Over Time</option>
          </select>
          <div class="d-flex align-items-center mb-4">
            <hr class="flex-grow-1" />
            <span class="mx-3">OR</span>
            <hr class="flex-grow-1" />
          </div>
          <div class="mb-3 opacity-75">Describe your desired chart</div>
          <div
            data-mdb-input-init
            class="form-outline mb-3"
          >
            <textarea
              class="form-control"
              id="query"
              name="query"
              rows="4"
              required
            ></textarea>
            <label
              class="form-label"
              for="query"
              >Message</label
            >
          </div>
          <button
            type="submit"
            class="btn btn-primary"
          >
            Generate
          </button>
        </form>
        <div class="col-7 card card-body h-100 d-flex">
          <div
            id="chart"
            class="w-100 flex-grow-1 d-flex"
          ></div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div
  id="main"
  style="width: 600px; height: 400px"
></div> -->
  <!-- </div> -->
  <!-- <div
    id="main"
    style="width: 600px; height: 400px"
  ></div> -->
</div>
