
* {
    caret-color: transparent;
}

input {
    caret-color: auto;
}

div.form-group,
.form-floating {
    margin-bottom: 1.5rem;
}

div.invalid-feedback {
    height: 0px;
}

.form-check-input:checked {
    background-color: #0d6efd !important;
    border-color: #0d6efd !important;
}

.form-check-input.is-valid ~ .form-check-label,
.was-validated .form-check-input:valid ~ .form-check-label {
    color: inherit !important;
}

.invalid-feedback {
    font-size: 0.7rem;
}

#role {
    width: 150px;
    position: absolute;
    z-index: 9999;
    top: 5px;
    right: 5px;
}