* {
  caret-color: transparent;
}

input,
textarea {
  caret-color: auto;
}

input {
  caret-color: auto;
}

div.form-group,
.form-floating {
  margin-bottom: 1.5rem;
}

div.invalid-feedback {
  height: 0px;
}

.form-check-input.is-valid ~ .form-check-label,
.was-validated .form-check-input:valid ~ .form-check-label {
  color: inherit !important;
  border-color: inherit !important;
}

.invalid-feedback {
  font-size: 0.7rem;
}
