@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$primary: #06545b;
$primary-rgb: 0, 114, 117;

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

$white: #ffffff;

$theme-colors: (
  "light": $light,
  "dark": #1a1744,
  "primary": $primary,
  // "secondary": #00b0a6,
  "secondary": #8bbeb2,
  "info": #1de1e2,
  "success": #08b36c,
  "warning": #e4d007,
  "danger": #f42602,
);

$font-family-sans-serif: "Roboto", sans-serif;
$input-focus-border-color: $primary;
$btn-focus-border-color: $primary;

$theme-colors: $theme-colors;

@import "../../node_modules/bootstrap/scss/bootstrap";

.form-check-input:checked {
  background-color: $primary !important;
  border-color: $primary !important;
}

.box-shadow-primary:focus:not(:invalid) {
  box-shadow: 0 0 0 0.25rem rgba(6, 84, 91, 0.25);
}

.focus .ts-control {
  box-shadow: 0 0 0 0.25rem rgba(6, 84, 91, 0.25) !important;
  border-color: $primary !important;
}

.ts-wrapper.multi .ts-control > div.active {
  background: $primary !important;
}

:root {
  --dt-row-selected: #{$primary-rgb};
}

html {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif !important;
}

* {
  scrollbar-width: thin;
}

.text-orange {
  color: $orange-500;
}

.pointer-cursor {
  cursor: pointer !important;
}

@media print {
  .d-none-print {
    display: none !important;
  }

  @page {
    size: A4;
    margin: 0;
  }
  html,
  body {
    width: 210mm;
    height: 282mm;
    font-size: 11px;
    background: #fff;
    overflow: visible;
  }
  body {
    padding-top: 15mm;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
    border: none;
  }
}
