@use "custom_theme.scss";
.active-underline {
  padding-inline: 0 !important;
  margin-right: 0.75rem;
  position: relative;
  border: none !important;
  min-width: 6rem;

  &.active {
    color: var(--bs-primary) !important;

    &::after {
      content: "";
      position: absolute;
      bottom: 0%;
      left: 0%;
      height: 2px;
      width: 100%;
      background-color: var(--bs-primary);
    }
  }
}

#companyChart,
#tokenChart {
  min-height: 350px;
  height: 100%;
  width: 100%;
}
#companyTable td {
  text-align: center; /* Horizontal centering */
}
